body {
    margin: 0;
    background-color: rgb(217, 255, 242);
}

.main-game {
    height: 100vh; /*100 VH e VW deixa no tamanho máx visível na tela sem precisar "escrolar" pros lados*/
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genius {   /*Utilizaremos o GRID para dividir exatamente as 4 cores/div´s dentro do jogo*/
    display: grid;
    grid-template-areas: 'green red'    /*nomearemos cada container*/
    'yellow blue';                      /*Abrindo o "inspecionar" na página, conseguimos ver as 4 div´s separadamente!*/
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.selected {     /*A div selecionada terá esta opacidade*/
    opacity: 0.5;
}